header.header
    .header__wrapper
        .header__column
            a(href=routers.home)
                i.fab.fa-youtube
        .header__column
            form(action=routers.search, method="get")
                input(type="text", placeholder="Search by term...", name="term")
        .header__column
            ul
                if !loggedUser
                    li
                        a(href=routers.join) Join
                    li
                        a(href=routers.login) Log In
                else 
                    li
                        a(href=`/videos${routers.upload}`) Upload
                    li
                        a(href=routers.me) Profile
                    li
                        a(href=routers.logout) Log Out