.social-login
    button.social-login--google
        a(href=routers.google)
            span
                i.fab.fa-google-plus-g
            |Continue with Google
    button.social-login--kakao
        a(href=routers.kakao)
            span
                i.fas.fa-comment
            |Continue with Kakao
    button.social-login--naver
        a(href=routers.naver)
            span 
                i N
            |Continue with Naver
    button.social-login--facebook
        a(href=routers.facebook)
            span
                i.fab.fa-facebook-f
            |Continue with FaceBook
    button.social-login--github
        a(href=routers.github)
            span
                i.fab.fa-github
            |Continue with Github